<div class="header">
  <div class="title">
    <h4>Sabbir Hasan</h4>
    <h5>Software Engineer</h5>
  </div>
</div>
<hr>

<!-- <div class="body">
  <div class="left-side">
    <h3>Career Goals</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate reprehenderit nulla soluta veniam maxime sit ad iure modi molestias voluptatibus ea, fuga iusto? Quidem expedita dolor natus, molestiae dolorum sint.</p>
  </div>
  <div class="right-side">
    <h3>Contact Information</h3>
  </div>
  
</div> -->